.my-masonry {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.my-masnry-description-top {
    position: absolute;
    top: 0;
    left: 10;
    width: 100%;
    height: 20px;
    background: linear-gradient(to top, rgba(255, 248, 248, 0.8), transparent 200%);
    align-items: flex-start;
    justify-content: center;
    transition: .7s;
}
.my-masnry-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), transparent 200%);
    align-items: flex-start;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: .7s;
}

.my-masnry-user-box {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
    column-gap: 20px;
    margin-bottom: -80px;
    transition: .5s;
    align-items: center;
}
.my-masnry-user-prof {
    width: 100%;
    height: 45px;
}

.my-masnry-user-prof button {
    display:inline-block;
    font-weight:300;
    color:#272727;
    text-align:center;
    transition: all 0.2s;
    text-decoration: underline;
    font-weight: bold;
}

.my-masnry-user-prof button:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
    @media all and (max-width: 800px){
        .my-masnry-user-prof button{
    display:block;
    padding:0.15em 0.8em;
    border-radius:0.1em;
    margin:0.2em auto;
    }
    }
.my-masnry-user-prof-desc {
    row-gap: 10px;
    font-size: 1rem;
    text-transform: capitalize;
}
@media screen and (max-width: 800px) {
    .my-masnry-user-prof button h1{
      font-size: 4vw;
    }
    .my-masnry-user-prof-desc{
        font-size: 3vw;
      }
      .my-masnry-description-top{
        height: 20px;
      }
  }
.my-masnry-user-prof-desc h1 {
    color: var(--green-400);
    font-weight: bold;
    text-align: center;
}
.my-masnry-user-prof-desc h3 {
    color: var(--dark-600);
}
.my-masonry:hover .my-masnry-description {
    visibility: visible;
    opacity: 1;
}
.my-masonry:hover .my-masnry-user-box {
    margin-bottom: 15px;
}